---
layout: default
title: Artists
---
<main>
    <div class="h-auto border-b border-slate-700">
      <section class="py-24 md:py-44 bg-cover">
        <section class="container lg:w-[900px]">
          <div class="flex flex-col m-auto justify-center items-center gap-4 lg:-gap-4">
            <h2 class="text-white self-center text-3xl font-bold uppercase pb-16">Artists</h2>
            {% if artists.people %}
              {% for item in artists.people %}
                {% if (loop.index % 2 == 0) %}
                  <div class="relative w-64 h-64 flex flex-col lg:self-end duration-200 shadow-xl shadow-slate-800 hover:shadow-[-10px_20px_0px_0px_rgba(55,48,163,1),-50px_10px_0px_0px_rgba(159,18,57,1)]">
                    <div class="relative w-full h-full rounded-md">
                      <span class="bg-black px-2 absolute bottom-5 left-0 z-10 text-white text-2xl  font-bold uppercase">{{ item.name}}</span>
                      <img src="{{ item.image }}" class="aspect-square relative object-cover w-full min-h-0 rounded-md border">
                    </div>
                  </div>
                {% else %}
                  <div class="relative w-64 h-64 flex flex-col lg:self-start duration-200 shadow-xl shadow-slate-800 hover:shadow-[10px_10px_0px_0px_rgba(159,18,57,1),50px_-10px_0px_0px_rgba(55,48,163,1)]">
                    <div class="relative w-full h-full rounded-md">
                      <span class="bg-black px-2 absolute bottom-5 right-0 z-10 text-white text-2xl  font-bold uppercase">{{ item.name}}</span>
                      <img src="{{ item.image }}" class="aspect-square relative object-cover w-full min-h-0 rounded-md border">
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </section>
      </section>
    </div>
</main>