<li class="py-2">
  <article class="flex flex-col items-center md:items-stretch md:flex-row m-auto bg-slate-800 py-4 w-full hover:w-11/12 ease-in-out duration-200 text-lg rounded-md border border-slate-700">
    <div class="basis-1/4 flex flex-col items-center justify-center m-5 w-64">
      <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="aspect-square relative object-cover w-full min-h-0 rounded-md border">
    </div>
    <ul class="flex flex-col justify-evenly uppercase basis-1/2 text-slate-200 my-6 lg:my-0">
      <h4 class="">{{ post.data.title }}</h4>
      <hr class="h-0.5 my-2 bg-gray-700">
      <span>Date: {{ post.data.date }} </span>
      <span>Artist: {{ post.data.artist }} </span>
      <span>Location: {{ post.data.location }} </span>
    </ul>
    <div class="basis-1/4 flex flex-col items-center justify-center">
      <a href="" class="hover:-translate-y-1 hover:-translate-x-1 duration-100 shadow-[0_0_0_0_rgba(0,0,0,1)] hover:shadow-[6px_10px_0_0_rgba(15,23,42,1)]" target="_blank"> 
        <span class="text-white uppercase px-6 py-2 bg-rose-500 border-2 border-black">Tickets</span>
      </a>
    </div>  
  </article>
</li>