<footer class="block">
      <div class="px-0 xl:px-48 py-24 bg-slate-900">
        <div class="lg:w-[900px] m-auto">
          <div class="flex flex-col text-white">
            <div class="flex flex-row justify-center">
              <span>Copyright © Tala Entertainment 2023</span>
            </div>
            <div class="py-2"></div>
            {% if socials.links %}

            <ul class="pt-6 lg:pt-0 list-reset lg:flex flex-row justify-center flex-1 items-center">
                {% for links in socials.links%}
                    <li class="nav__item mr-3">
                        <a @click="isOpen = false" class="" href="{{ links.url }}" target="_blank">
                          <i class="{{ links.style }} text-2xl"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}
          </div>
        </div>
      </div>
</footer>
