<section class="w-full sm:h-300px h-[700px] bg-gray-900 text-black bg-[url(../../static/img/heroimage.webp border-b border-indigo-800">
  <img src="../../static/img/heroimage.webp" class="h-full w-full object-cover">
  <section class="relative flex flex-row items-end justify-center">
    <h1 class="absolute -top-40 lg:-top-10">
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-600 font-bold uppercase py-10 z-0">FILCAN EVENTS CREATED BETTER</span>
    </h1>
  </section>
</section>